body{
    margin: 0;
    padding: 0;
    background-image: -webkit-repeating-linear-gradient(135deg, #E5E4E2, #E5E4E2, );
    background-image: repeating-linear-gradient(-45deg,#E5E4E2, #E5E4E2 );
    min-height: calc(100vh - 40px);
    height:300px;
    
    }
  
  .box{
    position: absolute;
    top: calc(50% - 125px);
    top: -webkit-calc(50% - 125px);
    left: calc(50% - 300px);
    left: -webkit-calc(50% - 300px);
    
  }
  
  .ticket{
    width: 600px;
    height: 400px;
    background: #e74c3c;
    border-radius: 3px;
    box-shadow: 0 0 100px #aaa;
    border-top: 1px solid #c0392b;
    border-bottom: 1px solid #c0392b;
  }
  
  .left{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0px;
    left: -5px;
  }
  
  .left li{
    width: 0px;
    height: 0px;
  }
  
  .left li:nth-child(-n+2){
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #e74c3c;
  }
  
  .left li:nth-child(3),
  .left li:nth-child(6){
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #EEEEEE;
  }
  
  .left li:nth-child(4){
    margin-top: 8px;
    margin-left: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #EEEEEE;
  }
  
  .left li:nth-child(5){
    margin-top: 8px;
    margin-left: -1px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-right: 6px solid #EEEEEE;
  }
  
  .left li:nth-child(7),
  .left li:nth-child(9),
  .left li:nth-child(11),
  .left li:nth-child(12){
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #E5E5E5;
  }
  
  .left li:nth-child(8){
    margin-top: 7px;
    margin-left: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #E5E5E5;
  }
  
  .left li:nth-child(10){
    margin-top: 7px;
    margin-left: 1px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #E5E5E5;
  }
  
  .left li:nth-child(13){
    margin-top: 7px;
    margin-left: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #e74c3c;
  }
  
  .left li:nth-child(14){
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #e74c3c;
  }
  
  .right{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0px;
    right: -5px;
  }
  
  .right li:nth-child(-n+2){
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid #e74c3c;
  }
  
  .right li:nth-child(3),
  .right li:nth-child(4),
  .right li:nth-child(6){
    margin-top: 8px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid #EEEEEE;
  }
  
  .right li:nth-child(5){
    margin-top: 8px;
    margin-left: -2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid #EEEEEE;
  }
  
  .right li:nth-child(8),
  .right li:nth-child(9),
  .right li:nth-child(11){
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid #E5E5E5;
  }
  
  .right li:nth-child(7){
    margin-top: 7px;
    margin-left: -3px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid #E5E5E5;
  }
  
  .right li:nth-child(10){
    margin-top: 7px;
    margin-left: -2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid #E5E5E5;
  }
  
  .right li:nth-child(12){
    margin-top: 7px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-left: 6px solid #E5E5E5;
  }
  
  .right li:nth-child(13),
  .right li:nth-child(14){
    margin-top: 7px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-left: 5px solid #e74c3c;
  }
  
  .ticket:after{
    content: '';
    position: absolute;
    right: 200px;
    top: 0px;
    width: 2px;
    height: 400px;
    box-shadow: inset 0 0 0 #e74c3c,
      inset 0 -10px 0 #B56E0A,
      inset 0 -20px 0 #e74c3c,
      inset 0 -30px 0 #B56E0A,
      inset 0 -40px 0 #e74c3c,
      inset 0 -50px 0 #999999,
      inset 0 -60px 0 #E5E5E5,
      inset 0 -70px 0 #999999,
      inset 0 -80px 0 #E5E5E5,
      inset 0 -90px 0 #999999,
      inset 0 -100px 0 #E5E5E5,
      inset 0 -110px 0 #999999,
      inset 0 -120px 0 #E5E5E5,
      inset 0 -130px 0 #999999,
      inset 0 -140px 0 #E5E5E5,
      inset 0 -150px 0 #B0B0B0,
      inset 0 -160px 0 #EEEEEE,
      inset 0 -170px 0 #B0B0B0,
      inset 0 -180px 0 #EEEEEE,
      inset 0 -190px 0 #B0B0B0,
      inset 0 -200px 0 #EEEEEE,
      inset 0 -210px 0 #B0B0B0,
      inset 0 -220px 0 #EEEEEE,
      inset 0 -230px 0 #B0B0B0,
      inset 0 -240px 0 #EEEEEE,
      inset 0 -250px 0 #B0B0B0,
      inset 0 -260px 0 #EEEEEE,
      inset 0 -270px 0 #B0B0B0,
      inset 0 -280px 0 #EEEEEE,
      inset 0 -290px 0 #B0B0B0,
      inset 0 -300px 0 #EEEEEE,
      inset 0 -310px 0 #B0B0B0,
      inset 0 -320px 0 #e74c3c,
      inset 0 -330px 0 #B56E0A,
      inset 0 -340px 0 #e74c3c,
      inset 0 -350px 0 #B56E0A;
  }
  
  .ticket:before{
    content: '';
    position: absolute;
    z-index: 5;
    right: 199px;
    top: 0px;
    width: 1px;
    height: 400px;
    box-shadow: inset 0 0 0 #e74c3c,
      inset 0 -10px 0 #e74c3c,
      inset 0 -20px 0 #e74c3c,
      inset 0 -30px 0 #e74c3c,
      inset 0 -40px 0 #e74c3c,
      inset 0 -50px 0 #FFFFFF,
      inset 0 -60px 0 #E5E5E5,
      inset 0 -70px 0 #FFFFFF,
      inset 0 -80px 0 #E5E5E5,
      inset 0 -90px 0 #FFFFFF,
      inset 0 -100px 0 #E5E5E5,
      inset 0 -110px 0 #FFFFFF,
      inset 0 -120px 0 #E5E5E5,
      inset 0 -130px 0 #FFFFFF,
      inset 0 -140px 0 #E5E5E5,
      inset 0 -150px 0 #FFFFFF,
      inset 0 -160px 0 #EEEEEE,
      inset 0 -170px 0 #FFFFFF,
      inset 0 -180px 0 #EEEEEE,
      inset 0 -190px 0 #FFFFFF,
      inset 0 -200px 0 #EEEEEE,
      inset 0 -210px 0 #FFFFFF,
      inset 0 -220px 0 #EEEEEE,
      inset 0 -230px 0 #FFFFFF,
      inset 0 -240px 0 #EEEEEE,
      inset 0 -250px 0 #FFFFFF,
      inset 0 -260px 0 #EEEEEE,
      inset 0 -270px 0 #FFFFFF,
      inset 0 -280px 0 #EEEEEE,
      inset 0 -290px 0 #FFFFFF,
      inset 0 -300px 0 #EEEEEE,
      inset 0 -310px 0 #FFFFFF,
      inset 0 -320px 0 #e74c3c,
      inset 0 -330px 0 #e74c3c,
      inset 0 -340px 0 #e74c3c,
      inset 0 -350px 0 #e74c3c;
  }
  
  .content{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 321px;
    background: #eee;
  }
  
  .airline{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: #FFE4E8;
  }
  
  .boarding{
    position: absolute;
    top: 10px;
    right: 220px;
    font-family: Arial;
    font-size: 18px;
    color: rgba(255,255,255,0.6);
  }
  
  .jfk{
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: Arial;
    font-size: 38px;
    color: #222;
  }

  .scity{
    position: absolute;
    top: 52px;
    left: 35px;
    font-size: 13px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    color: #999;
  }

  .dcity{
    position: absolute;
    top: 52px;
    left: 280px;
    font-size: 13px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    color: #999;
  }
  
  .sfo{
    position: absolute;
    top: 10px;
    left: 265px;
    font-family: Arial;
    font-size: 38px;
    color: #222;
  }
  
  .plane{
    position: absolute;
    left: 160px;
    top: 0px;
  }
  
  .sub-content{
    background: #e5e5e5;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 70px;
  }
  
  .watermark{
    position: absolute;
    left: 5px;
    top: -10px;
    font-family: Arial;
    font-size: 85px;
    font-weight: bold;
    color: rgba(255,255,255,0.2);
  }
  
  .name{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
  }
  
  .name span{
    color: #555;
    font-size: 17px;
  }
  
  .flight{
    position: absolute;
    top: 10px;
    left: 140px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
  }
  
  .flight span{
    color: #555;
    font-size: 17px;
    
  }
  
  .gate{
    position: absolute;
    top: 10px;
    left: 200px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
  }
  
  .gate span{
    color: #555;
    font-size: 17px;
  }
  
  
  .seat{
    position: absolute;
    top: 10px;
    left: 250px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
  }
  
  .seat span{
    color: #555;
    font-size: 17px;
  }

  .fare{
    position: absolute;
    top: 10px;
    left: 320px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: #999;
  }
  
  .fare span{
    color: #555;
    font-size: 17px;
  }
  
  .boardingtime{
    position: absolute;
    top: 60px;
    left: 10px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 13px;
    color: #999;
  }
  
  .boardingtime span{
    color: #555;
    font-size: 15px;
  }

  .arrivaltime{
    position: absolute;
    top: 60px;
    left: 225px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 13px;
    color: #999;
  }
  
  .arrivaltime span{
    color: #555;
    font-size: 15px;
  }
  
  .barcode{
    position: absolute;
    left: 8px;
    bottom: 6px;
    height: 30px;
    width: 90px;
    background: #e74c3c;
    box-shadow: inset 0 1px 0 #e74c3c, inset -2px 0 0 #e74c3c,
      inset -4px 0 0 #222,
      inset -5px 0 0 #e74c3c,
      inset -6px 0 0 #222,
      inset -9px 0 0 #e74c3c,
      inset -12px 0 0 #222,
      inset -13px 0 0 #e74c3c,
      inset -14px 0 0 #222,
      inset -15px 0 0 #e74c3c,
      inset -16px 0 0 #222,
      inset -17px 0 0 #e74c3c,
      inset -19px 0 0 #222,
      inset -20px 0 0 #e74c3c,
      inset -23px 0 0 #222,
      inset -25px 0 0 #e74c3c,
      inset -26px 0 0 #222,
      inset -26px 0 0 #e74c3c,
      inset -27px 0 0 #222,
      inset -30px 0 0 #e74c3c,
      inset -31px 0 0 #222,
      inset -33px 0 0 #e74c3c,
      inset -35px 0 0 #222,
      inset -37px 0 0 #e74c3c,
      inset -40px 0 0 #222,
      inset -43px 0 0 #e74c3c,
      inset -44px 0 0 #222,
      inset -45px 0 0 #e74c3c,
      inset -46px 0 0 #222,
      inset -48px 0 0 #e74c3c,
      inset -49px 0 0 #222,
      inset -50px 0 0 #e74c3c,
      inset -52px 0 0 #222,
      inset -54px 0 0 #e74c3c,
      inset -55px 0 0 #222,
      inset -57px 0 0 #e74c3c,
      inset -59px 0 0 #222,
      inset -61px 0 0 #e74c3c,
      inset -64px 0 0 #222,
      inset -66px 0 0 #e74c3c,
      inset -67px 0 0 #222,
      inset -68px 0 0 #e74c3c,
      inset -69px 0 0 #222,
      inset -71px 0 0 #e74c3c,
      inset -72px 0 0 #222,
      inset -73px 0 0 #e74c3c,
      inset -75px 0 0 #222,
      inset -77px 0 0 #e74c3c,
      inset -80px 0 0 #222,
      inset -82px 0 0 #e74c3c,
      inset -83px 0 0 #222,
      inset -84px 0 0 #e74c3c,
      inset -86px 0 0 #222,
      inset -88px 0 0 #e74c3c,
      inset -89px 0 0 #222,
      inset -90px 0 0 #e74c3c;
  }
  
  .slip{
    left: 455px;
  }
  .barcode1{
    position: absolute;
    left: 240px;
    bottom: 4px;
    color: #fcfbfa;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 20px;
  }

  .nameslip{
    top: 55px;
    left: 410px;
  }
  
  .flightslip{
    left: 410px;
  }
  
  .seatslip{
    left: 540px;
  }
  
  .jfkslip{
    font-size: 30px;
    top: 20px;
    left: 410px;
  }
  
  .sfoslip{
    font-size: 30px;
    top: 20px;
    left: 530px;
  }
  
  .planeslip{
    top: 10px;
    left: 475px;
  }
  
  .airlineslip{
    left: 420px;
  }

  .instruction{
    position: absolute;
    top: 105px;
    left: 10px;
    font-family: Arial Narrow, Arial;
    font-weight: bold;
    font-size: 14px;
    color: rgb(8, 8, 8);
  }

  .instructionslip{
    color: #999;
    font-size: 13px;
  }

  .footer{
    position: absolute;
    top: 660px;
  }
  
